@import "variables";

.#{$prefix}-badge {
  display: inline-flex;
  align-items: center;
  height: 24px;
  font-size: 12px;
  padding: 0 10px;
  background-color: #dde0e4;
  border-radius: 50px;
  margin-right: 6px;

  &--success {
    background-color: #a1edd0;
  }

  &--info {
    background-color: #b8e9ef;
  }
}
