.products  {
  text-align: right;
 margin-right: 20rem;
  
  outline-offset: -1rem;
  padding: 3rem 2rem;
 
  color: rgb(21, 21, 70);
  font-size: 30px;
}
h6{
  font-size: 20px;
  color: rgb(14, 20, 53);
  margin-left: 80rem;
}
h1{
  text-align: right;
  color: rgb(16, 79, 197);
}
