.header .navbar a {
  display: inline-block;
  color: var(--black);
  font-size: 1.7rem;
  margin: 0 2rem;
 
}
.header .navbar.active {
  right: 2rem;
  background-color: black;
}
.header .navbar a:hover {
  color: var(--orange);
  font-weight: bold;

 
  
  
}

@media (max-width: 768px) {
  .header {
    position: relative;
    
  }
  .header .icons #menu-btn {
    display: inline-block;
    
  }
  .header .navbar {
    position: absolute;
    top: 110%;
    right: -110%;
    width: 30rem;
    background: #fff;
    border-radius: 0.5rem;
  }
  .header .navbar a {
    display: block;
    font-size: 2rem;
    margin: 2rem 2.5rem;
    background-color: black;
   
  }
}
  a:is(:active).active{
    color: antiquewhite;
    background-color: rgb(0, 0, 0);
  }
